################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/MetaManager/obj
/.vs
/MetaAudio/.vs/MetaAudio/v16
/MetaAudio/obj/Debug
